.hotelImage {
    background-image : url("../imgs/hotelHomePage.jpg");
    background-repeat : no-repeat;
    background-size : cover;
    border-bottom-right-radius : 30px; 
    border-bottom-left-radius : 30px; 
}
.welcomeSection{
    padding : 150px 8% 200px;
    background-color :rgba(80, 80, 80, 0.673);
    color : white;
    text-transform :uppercase;
    letter-spacing : 3px;
}
.hotelImage,.welcomeSection{
    border-bottom-right-radius : 30px; 
    border-bottom-left-radius : 30px; 
}
.slogan{
    font-size : 35px;
    margin-bottom : 20px;
    line-height : 1.4 ;
    font-weight : 300;
    display : inline-block ;
    width  :550px;
}
.stars {
    margin : 70px 8% 80px;
    text-transform : uppercase;
    letter-spacing : 2px;
    font-size : 30px;
    text-align :center;
}
.starsTitle {
    display: block;
    margin-bottom : 10px;
}
.visitors{
    margin : 100px 8% 50px 8%;
    text-transform : uppercase;
    color : black;
    letter-spacing: 6px;
    display : flex;
    justify-content :space-around;
    align-items :center;
}
.visitors h3{
    font-weight : 100;
    font-size : 25px;
    background-color : rgb(239, 239, 239);
    padding : 10px 30px ;
    margin-bottom : 10px;
    border-radius : 10px;
    border-left :  #4B6F68 solid 3px;;
}
.visitors span{
    letter-spacing: 0px;
    font-weight : 300;
    font-size : 40px;
    
}
.visitors h2{
    font-size : 50px;
    font-weight : 300;
    color : #4B6F68;
    border-radius : 10px;
    border-bottom :  #4B6F68 solid 3px;;
    
}
.starsIcon {
    font-size : 30px;
    margin-left : 20px;
    background-color : rgb(239, 239, 239);
    padding: 5px 0 5px 10px;
    border-radius : 20px;
}

@media screen and (min-width : 320px) and (max-width : 651px){
    .welcomeSection {
        padding: 70px 8% 100px;
        background-color: rgba(80, 80, 80, 0.673);
        color: white;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .slogan {
        font-size : 15px;
        width  :250px;
    }
    .visitors {
        margin-top : 30px; 
        margin-bottom : 30px; 
        display : block;
        text-align : center;
    }
    .visitors h2 {
        font-size: 30px;
        margin-bottom : 20px;
    }
    .visitors h3 {
        padding : 5px;
        font-size: 15px;
        margin-bottom : 20px;
    }
    .visitors h3 span {
        font-size: 25px;
    }
    .starsIcon {
        margin : 0;
        background-color : rgb(239, 239, 239);
        padding: 10px 10px 10px 13px;
    }
    .stars span{
        margin-bottom : 10px;
        font-size : 20px;
        display : inline-block;
    }

}