.login {
    display : flex;
    margin : 40px 20%;
    box-shadow : 0 10px 10px;
    border-radius : 20px;
    text-transform : capitalize;
    font-family : font2;
    font-weight : 200;
}
form , form input,form label{
    display : block;
    width : 100% ;
}
.loginW {
    padding : 80px 30px;
    width : 70%;
}
.loginW > span {
    text-align : center;
    font-size : 35px;
    color : #508b7f;
    margin-bottom : 50px;
    display : block;
}
.loginImg {
    background-image : url("../imgs/loginImage.png");
    background-size : cover;
    width : 50%;
}
.inputLabels {
    margin-bottom : 10px;
    display : block;
    font-size : 20px;
}
form input:nth-child(4),form input:nth-child(2){ 
    padding : 10px;
    border-radius : 10px;
    border : solid #508b7f 1px;
    margin-bottom : 10px;
    font-weight : 900;
}